/* AeonikPro Thin */
@font-face {
  font-family: "AeonikPro Thin";
  src: url("/fonts/aeonik/AeonikPro-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "AeonikPro Thin Italic";
  src: url("/fonts/aeonik/AeonikPro-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

/* AeonikPro Air */
@font-face {
  font-family: "AeonikPro Air";
  src: url("/fonts/aeonik/AeonikPro-Air.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "AeonikPro Air Italic";
  src: url("/fonts/aeonik/AeonikPro-AirItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

/* AeonikPro Light */
@font-face {
  font-family: "AeonikPro Light";
  src: url("/fonts/aeonik/AeonikPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AeonikPro Light Italic";
  src: url("/fonts/aeonik/AeonikPro-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* AeonikPro Regular */
@font-face {
  font-family: "AeonikPro Regular";
  src: url("/fonts/aeonik/AeonikPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AeonikPro Regular Italic";
  src: url("/fonts/aeonik/AeonikPro-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* AeonikPro Medium */
@font-face {
  font-family: "AeonikPro Medium";
  src: url("/fonts/aeonik/AeonikPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AeonikPro Medium Italic";
  src: url("/fonts/aeonik/AeonikPro-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* AeonikPro Bold */
@font-face {
  font-family: "AeonikPro Bold";
  src: url("/fonts/aeonik/AeonikPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AeonikPro Bold Italic";
  src: url("/fonts/aeonik/AeonikPro-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* AeonikPro Black */
@font-face {
  font-family: "AeonikPro Black";
  src: url("/fonts/aeonik/AeonikPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "AeonikPro Black Italic";
  src: url("/fonts/aeonik/AeonikPro-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* OctoberDL Regular */
@font-face {
  font-family: "OctoberDL Regular";
  src: url("/fonts/oct/OctoberDL-Regular-01.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* OctoberDL Medium */
@font-face {
  font-family: "OctoberDL Medium";
  src: url("/fonts/oct/OctoberDL-Medium-02.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* OctoberDL Heavy */
@font-face {
  font-family: "OctoberDL Heavy";
  src: url("/fonts/oct/OctoberDL-Heavy-04.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

/* OctoberDL Black */
@font-face {
  font-family: "OctoberDL Black";
  src: url("/fonts/oct/OctoberDL-Black-05.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* OctoberDL Light */
@font-face {
  font-family: "OctoberDL Light";
  src: url("/fonts/oct/OctoberDL-Light-06.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* OctoberDL Extra Light */
@font-face {
  font-family: "OctoberDL ExtraLight";
  src: url("/fonts/oct/OctoberDL-ExtraLight-07.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

/* OctoberDL Thin */
@font-face {
  font-family: "OctoberDL Thin";
  src: url("/fonts/oct/OctoberDL-Thin-08.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

/* OctoberDL Hairline */
@font-face {
  font-family: "OctoberDL Hairline";
  src: url("/fonts/oct/OctoberDL-Hairline-09.otf") format("opentype");
  font-weight: 50;
  font-style: normal;
}

.font-700 {
  font-family: "AeonikPro Bold" !important;
}

.font-500 {
  font-family: "AeonikPro Medium" !important;
}

.font-400 {
  font-family: "AeonikPro Regular" !important;
}

.font-300 {
  font-family: "AeonikPro Light" !important;
}

.font-oct-900 {
  font-family: "OctoberDL Black" !important;
}

.font-oct-800 {
  font-family: "OctoberDL Heavy" !important;
}

.font-oct-500 {
  font-family: "OctoberDL Medium" !important;
}

.font-oct-400 {
  font-family: "OctoberDL Regular" !important;
}

.font-oct-300 {
  font-family: "OctoberDL Light" !important;
}

.font-oct-200 {
  font-family: "OctoberDL ExtraLight" !important;
}

.font-oct-100 {
  font-family: "OctoberDL Thin" !important;
}

.font-oct-50 {
  font-family: "OctoberDL Hairline" !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000000cc !important;
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 0px;
  margin-top: -50px !important;
  height: 20px !important;
  width: 3px !important;
  border: 1px solid #eeeeee !important;
  border-radius: 50px !important;
}

.swiper-button-next {
  right: 20px !important;
  top: 265px !important;
}
.swiper-button-prev {
  left: 20px !important;
  top: 265px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #eee !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important;
  font-weight: bolder !important;
}

@media (max-width: 768px) {
  .swiper-button-next {
    right: 1px !important;
    top: 275px !important;
  }

  .swiper-button-prev {
    left: 1px !important;
    top: 275px !important;
  }
}
